*{
    margin: 0px;
    padding: 0px;
}
body {
    box-sizing: border-box;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
aside {
    background-color: peru;
    width: 20%;
    height: 100%;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    float: left;
    padding-block-end: 270%; 
}   
section {
    display: flex;
    flex: auto;
    flex-wrap: wrap;    
    box-sizing: border-box;
    justify-content: center;
    float: right;
    margin-top: 0px;
    padding: 2em 1em ;
    background-image:url(imagenHarry/fondo2.jpg);
    width: 80%;   
}
.personajes{
    margin-top: 0px;
    padding: 2em 1em ;
    width: 80%;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    float: right;
}
.cards {
    background-color:rgba(0,0,0,0.7);
    width: 250px;
    height: auto;
    margin: 20px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;   
}
.text {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.texto {
    margin-top: 0px;
    align-items: left;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
}
.cards-img {
    align-items: center;
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.cards-img img {
    width: 100%;
    height: auto;
}
.title {
    width: 100%;
    color: whitesmoke;
    font-size: 20px;
}
.Order {
    margin-top: 20%;
    width: 100%;
}
.btn1 {
    margin-top: 4%;
    width:100%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #e9ece9;
    background-color: #b09182;
    border-radius: 15px;
    border: 3px double #eff5ef;
    cursor: pointer;
}
.btn1:hover {
    opacity: 0.6;
    text-decoration: none;
}
.btn2 {
    margin-top: 4%;
    width:100%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #e9ece9;
    background-color: #b09182;
    border-radius: 15px;
    border: 3px double #eff5ef;
    cursor: pointer;
}
.btn2:hover {
    opacity: 0.6;
    text-decoration: none;
}
.btn-danger {
    width:100%;
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #e9ece9;
    background-color: #b09182;
    border-radius: 15px;
    border: 3px double #eff5ef;
    cursor: pointer;
}
.btn-danger:hover {
    opacity: 0.6;
    text-decoration: none;
}
.Filter {
    margin-top: 20%;
    width: 100%;
}
.Genero {
    margin-top: 4%;
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #b09182;
    overflow: hidden;
    border-radius: .25em;
    border: 2px solid #ccc;
}
.Rol {
    margin-top: 4%;
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #b09182;
    overflow: hidden;
    border-radius: .25em;
    border: 2px solid #ccc;
}
.House{
    margin-top: 4%;
    position: relative;
    display: block;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: #b09182;
    overflow: hidden;
    border-radius: .25em;
    border: 2px solid #ccc;
}

select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fffffff5;
    cursor: pointer;
}
option { 
    color:whitesmoke;
    background-color: #ffffff33; 
}
.logo {
    position: relative;
    width: 250px;
    height: 180px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #fffffff5; 
  }   
.logo img {
    width: 100%;
    height: auto;
    border-radius: 5px;  
  }

@media(max-width: 767px){
    aside {
        width:100%;
        padding-block-end: 0%;
    } 
    section {
        width: 100%
    }
    .logo {
        position: relative;
        width: 33%;
        height: auto;
        box-sizing: border-box;
        border: 2px solid #fffffff5; 
        align-items: center;
    }
    .logo img {
        width: absolute;
        
    }  
    .Order {
        margin-top: 5%;
        width: 30%;
    }
    .Filter {
        padding: 1em ;
        margin-top: 0%;
        width: 30%;   
    }
}